---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---


<Layout title="mentions légales">
    <div class="bg-customblue">
		<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8 lg:py-24">
			<div class="text-left lg:max-w-[70%]">
				<h1 class="mb-4 text-4xl leading-9 font-extrabold text-white sm:text-5xl sm:leading-10 lg:text-6xl">
					MENTIONS LÉGALES
				</h1>
			</div>
		</div>
	</div>
    <Container>
<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8 lg:py-24">
    Soft Concept accorde une grande importance à la gestion et la protection des données personnelles.
    A travers de cette politique de confidentialité nous expliquons en toute transparence la façon dont Soft Concept
    utilise les données personnelles recueillies et traitées.
    <h3 class="text-2xl my-4">1. Types de données collectées</h3>

    <h3 class="text-2xl my-4">Déclaration d’acceptation</h3>
    En consultant les pages Internet proposées par Soft Concept, en les lisant ou en les utilisant, vous acceptez
    les conditions stipulées ci-après :

    <h3 class="text-2xl my-4">Responsabilité et garantie</h3>
    Les pages web ont été établies en toute conscience et avec tout le soin requis. Toutefois Soft Concept ne
    garantit pas que toutes les informations diffusées sur ce site sont à tout moment complètes, exactes et à jour.
    Il appartient à l’utilisateur d’obtenir confirmation en contactant Soft Concept par téléphone, fax ou e-mail aux
    coordonnées indiquées ici.
    Par ailleurs, Soft Concept n’assume aucune responsabilité pour les dommages directs ou indirects et les dommages
    consécutifs à l’utilisation des informations de ses pages web ou à l’accès aux autres pages web interconnectées
    avec le site de Soft Concept. Cette exclusion de responsabilités inclut également les dysfonctionnements
    d’Internet de toute nature (par exemple perte de données, virus, autres composants nuisibles).
    Toute reproduction non personnelle et non privée des extraits de ce site doit obtenir l’accord préalable de Soft
    Concept. Le chargement et l’impression des pages ou des parties sont autorisés seulement si les mentions de
    droits d’auteur ou autres indications légales ne sont pas supprimées.

    <h3 class="text-2xl my-4">Information relative à la protection des données</h3>
    Vous pouvez consulter notre Politique de Confidentialité et notre Politique des cookies

    <h3 class="text-2xl my-4">Pour toute information ou demande n’hésitez pas à nous contacter</h3>
    Soft Concept (Siège social) : <br>
    71 cours Albert Thomas <br>
    69003 LYON <br>
    Tél : 33 (4) 78.54.64.00 <br>
    Fax : 33 (4) 72.33.19.91 <br>
    Mail : support@ethnosoft.com <br> <br>

    S.A.S. au capital de 41.024€ – RCS Lyon 339151631 <br>
    Directeur Général : Steeve GREGOIRE <br>
</div>

</Container>
</Layout>