---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---


<Layout title="mentions légales">
    <div class="bg-customblue">
        <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8 lg:py-24">
            <div class="text-left lg:max-w-[70%]">
                <h1 class="mb-4 text-4xl leading-9 font-extrabold text-white sm:text-5xl sm:leading-10 lg:text-6xl">
                    POLITIQUE DE CONFIDENTIALITÉ
                </h1>
            </div>
        </div>
    </div>
    <Container>
 
        <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8 lg:py-24">
            Soft Concept accorde une grande importance à la gestion et la protection des données personnelles.
            A travers de cette politique de confidentialité nous expliquons en toute transparence la façon dont Soft Concept
            utilise les données personnelles recueillies et traitées.
            <h3 class="text-2xl my-4">1. Types de données collectées</h3>
    
            Au travers des différents contacts que vous avez avec nous, vous pouvez être amené à nous communiquer des
            données vous concernant. Celles-ci peuvent inclure ce qui suit :
            Coordonnées personnelles : nom, employeur, fonction, adresse e-mail, adresse postale, numéro de téléphone et
            autres informations de contact.
            Informations démographiques : statut professionnel, profession, région.
            Informations liées à l'enregistrement : enregistrement de produit, intérêt pour le produit, transactions
            effectuées avec nous.
            Données d'utilisation : Soft Concept peut recueillir des données personnelles ayant trait à votre utilisation de
            nos produits, services et sites Web pour les analyser et améliorer.
    
            <h3 class="text-2xl my-4">2. But dans lequel on collecte des données</h3>
            Nous pouvons être amenés à utiliser vos informations pour :
            - Mettre à votre disposition des produits ou des services, y compris les mises à jour logicielles et mener à
            bien les contrats de maintenance.
            - Exploiter et améliorer nos processus, systèmes, produits et services.
            - Améliorer votre expérience utilisateur.
            - Répondre à vos commentaires et questions et assurer le service client et l’assistance à l’utilisation de nos
            logiciels.
            - Vous envoyer des informations relatives aux services, des factures, des instructions techniques, des mises à
            jour, ainsi que des messages administratifs et d'assistance.
            - Échanger à propos des promotions, évènements à venir et actualités sur les produits et services proposés par
            Soft Concept.
            - Faire respecter nos conditions générales.
    
            <h3 class="text-2xl my-4">3. Circonstances qui conduisent au traitement de vos données</h3>
            Nous traitons vos informations que lorsqu’un des cas suivants s’applique : <br>
            - Relation commerciale avec Soft Concept : En vertu d’un contrat conclu avec vous, afin de vous fournir des
            produits ou des prestations de service <br>
            - Données transmises directement : Vous avez consenti ou demandé, au travers de notre site ou personnellement, à
            l’utilisation de vos données personnelles pour prendre contact avec vous. <br>
            - Données recueillies au travers de cookies : Voir notre politique relative aux Cookies.
    
            <h3 class="text-2xl my-4">4. Partage de vos données personnelles</h3>
            Soft Concept fait en sorte de protéger vos données personnelles, d'en assurer la confidentialité, et ne vend pas
            vos données personnelles. Nous ne partageons pas vos données avec des tiers.
            Vos données personnelles sont conservées dans l’Union Européenne. En aucun cas elles ne seront transférées en
            dehors de l’Union Européenne.
    
            <h3 class="text-2xl my-4">5. Exclusion de toute donnée sensible</h3>
            Soft Concept ne collecte aucune donnée sensible vous concernant. Sont considérées comme des données sensibles :
            l’origine raciale ou ethnique, les opinions politiques, les croyances religieuses ou philosophiques, l’adhésion
            à un syndicat, les données relatives à la santé ou l’orientation sexuelle.
    
            <h3 class="text-2xl my-4">6. Stockage et sécurité des données personnelles</h3>
            Nous mettons en œuvre des procédures techniques et managériales destinées à assurer la sécurité du site, de nos
            serveurs et des services et protéger ainsi vos données personnelles contre tout accès par des tiers non
            autorisés.
    
            <h3 class="text-2xl my-4">7. Temps de conservation de vos données</h3>
            - Données relatives à un prospect : 3 ans à compter de la collecte des données ou du dernier contact émanant du
            prospect
            - Données relatives à un client actif : Pendant toute la durée de la relation contractuelle
            - Données relatives à un client inactif : 10 ans après la fin du contrat ou du dernier contact émanant du client
            - Données générées par les cookies : 13 mois.
    
            <h3 class="text-2xl my-4">8. Contrôle de vos données personnelles</h3>
            Vous disposez de plusieurs droits (accès, rectification, suppression, opposition et limitation, réclamation…) en
            application de la législation applicable en matière de protection des données personnelles vous permettant
            d’assurer la maîtrise du traitement de vos données personnelles.
            Vous pouvez nous contacter à tout moment à l'adresse support@ethnosoft.com pour nous informer que vous ne
            souhaitez plus recevoir nos e-mails ou pour faire valoir les droits mentionnés ci-dessus.
        </div>
    </Container>
</Layout>