---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Marketing",
    description:
      "Tendances des sujets, Analyse de sentiments, Veille concurrentielle",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "RH",
    description:
      "Perception de la marque employeur Feedback sur les processus RH Engagement et culture d'entreprise",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Succès client",
    description:
      "Analyse des parcours clients Détection des alertes de service Segmentation des retours clients",
    icon: "bx:bxs-data",
  },
  {
    title: "Produit",
    description:
      "Identification des besoins non satisfaits Avis sur les caractéristiques Innovations guidées par les utilisateurs",
    icon: "bx:bxs-bot",
  },
  {
    title: "Créateurs",
    description:
      "Identification des influenceurs Tendances de consommation Feedback sur le contenu",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Business",
    description:
      "Analyse de la réputation Insights sur l'industrie Identification des opportunités de marché",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-20 ">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Quel que soit le domaine d’activité
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Quis tellus eget adipiscing convallis sit sit eget aliquet quis. Suspendisse eget egestas a elementum pulvinar et feugiat blandit at. In mi viverra elit nunc.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 mb-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
